<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <application
        android:allowBackup="true"
        android:name=".app.OnePortfolio"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OnePortfolio.Starting">
        <activity
            android:name=".app.MainActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.OnePortfolio.Starting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".main.data.fixedAsset.reciever.FixedAssetReciever"
            android:enabled="true"
            android:exported="false"
            />
        <receiver android:name=".main.data.fixedAsset.reciever.OnPaymentConfirmed"
            android:enabled="true"
            android:exported="false"
            />
        <receiver android:name=".main.data.fixedAsset.reciever.OnPaymentReciever"
            android:enabled="true"
            android:exported="false"
            />
        <receiver android:name=".main.data.fixedAsset.reciever.OnPaymentNotRecieved"
            android:enabled="true"
            android:exported="false"
            />
        <receiver android:name=".main.data.realestate.reciever.OnMortgageConfirmed"
            android:enabled="true"
            android:exported="false"
            />
        <receiver android:name=".main.data.realestate.reciever.OnMortgageNotConfirmed"
            android:enabled="true"
            android:exported="false"
            />
        <receiver android:name=".main.data.realestate.reciever.OnMortgageReciever"
            android:enabled="true"
            android:exported="false"
            />
        <receiver android:name=".main.data.realestate.reciever.OnRentReciever"
            android:enabled="true"
            android:exported="false"
            />
        <receiver android:name=".main.data.realestate.reciever.OnTaxReciever"
            android:enabled="true"
            android:exported="false"
            />
        <receiver  android:name=".main.data.realestate.reciever.OnYieldReciever"
            android:enabled="true"
            android:exported="false"
            />
        <receiver
            android:name=".core.reciever.BootCompletedReciever"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>